body {
    background: #f4f4f4;
}

.navbar {
    background-color: #e3f2fd;
}

.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

.card img {
    aspect-ratio: 1;
}

.btn a {
    color: #fff;
    text-decoration: none;
}